<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %} {% block tabs %} {{super()}}
<link rel="stylesheet" href="/stylesheets/pages.css" />
<link rel="stylesheet" href="/stylesheets/about.css" />

<!-- Main site Entry button descriptions -->
<section class="tx-container tx-container-light">
  <div class="md-grid md-typeset">
    <div class="tx-hero">
      <div class="tx-hero__image logos">
        <img alt="Wavether Logo" src="/assets/wavether-logo-border.svg" />
      </div>
      <div class="tx-hero__content">
        <h2>Wavether's Mission</h2>
        <h1>
          Building the best software solutions for businesses of all sizes.
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="tx-container">
  <div class="top-hr">
    <div class="feature-item profile">
      <img class="photo" src="/assets/shu-shen.jpg" alt="Shu Shen" />
      <h2>Shu Shen</h2>
      <h3>Founder</h3>
      <div class="profile--bio">
        <p>
          With over 25 years of software development and leadership experience,
          Shu drives innovation at Wavether. Prior to founding the company, he
          led the Quantum Ledger Database service team at AWS and served as
          Director of Engineering, Ecosystem at Okta. Throughout his career, Shu
          has played pivotal roles in the success of numerous startups,
          contributing both technically and as a leader. His expertise spans
          large-scale distributed systems, databases, machine learning,
          networking protocol, and embedded software. Shu holds a PhD from
          Nanyang Technological University, Singapore, and resides with his
          family in the Greater Toronto Area, Ontario, Canada.
        </p>
        <p>
          <a
            href="https://www.linkedin.com/in/shushen"
            title="Shu Shen on LinkedIn"
            ><img
              alt="LinkedIn Logo"
              class="social-icon"
              src="/assets/In-White-34.png"
          /></a>
        </p>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %} {% endblock %} {% block content %}<style>
  .md-main {
    height: 0;
    padding: 0;
    margin: 0;
  }</style
>{% endblock %}
