.md-main {
  flex-grow: 0;
}

.md-main__inner {
  display: flex;
  height: 100%;
}

.filtered img {
  filter: invert(150%) saturate(188%) hue-rotate(185deg);
}

.tx-container {
  padding-top: 0rem;
  background: linear-gradient(
    to bottom,
    var(--md-primary-fg-color--dark),
    var(--md-primary-fg-color) 100%
  );
}
.tx-container .tx-logo {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 20rem;
  height: auto;
}

.tx-hero {
  margin: 32px 10px;
  color: var(--md-primary-bg-color);
}

.tx-hero h1 {
  margin-bottom: 1rem;
  color: currentColor;
  font-weight: 700;
}

.tx-hero__content {
  padding-bottom: 1rem;
  margin: 0 auto;
}

.tx-hero__content img {
  padding-top: 2rem;
  width: 320px;
  max-width: 320px;
}

.tx-hero__image {
  width: 10rem;
  height: 10rem;
  order: 1;
  padding: 1rem 2.5rem 1rem 0;
  margin: auto;
}

.tx-hero .md-button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: var(--md-primary-bg-color);
  border-radius: 40px;
}

.tx-hero .md-button--primary {
  background-color: var(--md-primary-bg-color);
  color: var(--md-primary-fg-color);
  border-color: var(--md-primary-bg-color);
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
  background-color: var(--md-accent-bg-color);
  color: var(--md-accent-fg-color--light);
  border-color: var(--md-accent-bg-color);
}

.tx-container-light {
  padding-top: 0rem;
  background: var(--md-primary-bg-color--dark);
}

.tx-container-light .tx-hero {
  color: var(--md-primary-fg-color--dark);
}
.tx-container-light .tx-hero h1 {
  color: var(--md-primary-fg-color--dark);
}

.tx-container-light .md-button--primary {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
  border-color: var(--md-primary-fg-color);
}

.feature-item h2 svg {
  height: 30px;
  float: left;
  margin-right: 10px;
  transform: translateY(10%);
}

.top-hr {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.feature-item {
  color: var(--md-primary-bg-color);
  font-weight: 300;
  box-sizing: border-box;
  padding: 10px 20px;
  word-break: break-word;
}

.feature-item h2 {
  font-weight: 500;
  font-variant-caps: all-small-caps;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: inherit;
}
.feature-item p {
  font-size: 0.8rem;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 10px;
  display: block;
}

.feature-item .md-button {
  margin-top: 10px;
  color: var(--md-primary-fg-color);
  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  transition: all 0.3s;
  width: 100%;
  border-radius: 40px;
}
.feature-item .md-button:focus,
.feature-item .md-button:hover {
  background-color: var(--md-accent-bg-color);
  color: var(--md-accent-fg-color--light);
  border-color: var(--md-accent-bg-color);
}

.tx-container-footer {
  padding-top: 2rem;
  background: var(--md-footer-bg-color);
  color: var(--md-footer-fg-color);
}
.bottom-hr {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  color: var(--md-footer-fg-color);
}
.bottom-hr .feature-item h1 {
  font-size: 22px;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: inherit;
}
.bottom-hr .feature-item p {
  min-height: 0em;
}
.bottom-hr .feature-item a {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 0em;
}
.bottom-hr .feature-item a:hover {
  color: var(--md-accent-bg-color);
}
.bottom-hr .feature-item h2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: inherit;
}
.bottom-hr .feature-item p img {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 20px;
}

@media screen and (min-width: 60em) {
  .md-sidebar {
    display: none;
  }

  .tx-hero {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .tx-hero__content {
    max-width: 40rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 1rem;
    margin-right: 4rem;
    align-items: center;
  }

  .tx-hero__image {
    width: 17rem;
    height: 17rem;
    order: 1;
    padding-right: 2.5rem;
  }

  .top-hr {
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.2rem;
  }

  .bottom-hr {
    margin-top: 10px;
    width: 100%;
    display: flex;
    max-width: 61rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.2rem;
  }

  .feature-item {
    flex: 1;
    min-width: 0;
  }

  .feature-item p {
    min-height: 300px;
  }
}

.hr {
  border-bottom: 1px solid #eee;
  width: 100%;
  margin: 20px 0;
}

.text-center {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 10px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.logos img {
  flex: 1 1 auto;
  padding: 25px;
  max-height: 130px;
  vertical-align: middle;
}

.hr-logos {
  margin-top: 0;
  margin-bottom: 30px;
}

.md-footer-meta__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.md-footer-social {
  padding-top: 0px;
}
